
.card{
    margin-left: 50%;
    transform: translate(-50%);
}

@media (min-width:768PX) {
    .admin{
    margin-left: 50%;
    transform: translate(-50%);
    padding-top: 48px;
}
}

.headingAdmin{
    margin-top: 58px;
}
