.Payment{
    margin: 120px 450px;
    height: 75vh;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
   
}

.cardPayment:hover{
    cursor: pointer;
}

.walletPayment:hover{
    cursor: pointer;
}

.scanQR:hover{
    cursor: pointer;
}