.Payment{
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 50%;
    transform: translate(-50%);
   
}

.cardPayment:hover{
    cursor: pointer;
}

.walletPayment:hover{
    cursor: pointer;
}

.scanQR:hover{
    cursor: pointer;
}